*{max-width: 100%;}
body{display: flex; flex-direction: column; margin:auto; justify-content: center; align-items:baseline; background-color: rgb(252, 252, 252);}
main{width: 100%; margin: auto; margin-top: 30px; display: flex; justify-content: center; }
.calc{width: 300px; height: 485px; display: flex; flex-direction: column;   padding: 0; background-color: #252525; border: 3px solid #252525; }
.tela{border: 1px solid #525252; margin:5px 0 5px 4px;  width: 290px; height: 90px; background-image: linear-gradient(#1a1717 , #444444) ; color: #fff; }
.tela div{height: 100%; width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: flex-end; }
.tela span{font-size: 2em; padding-right: 3%;}
.tela div:first-child{margin-top: 2%; }
.tela div #tela2{font-size: 1em; color: #817d7d; margin-bottom: 4%;}


.number{margin: 0; margin-top: 1.8%; margin-left: 1.4%;}
.number button{width: 70px; height: 70px; border: none; background-color: #bbff00; font-size: 1.5em; cursor: pointer;}
.number button:hover{background-color: #fff; font-weight: 700;}
.ac{width: 218px!important;}
.zero{width: 144px!important;}
.op{background-color: #ff9900!important;}
.op:hover{ background-color: azure!important;}

footer{text-align: center; width: 100%;}
footer a, footer a:visited{color: #252525; text-decoration: none;}